// this file contains a list of javascript libs and snippets, that are included by default 
// in the views/layout.jade

// jquery
script(src="/assets/js/jquery-2.1.0.js")
// bootstrapb
script(src="/assets/js/bootstrap.js")
// le ascii-bot
script(src="/assets/js/ascii-bot.js")

// this gives a sticky power to the view of you browsers jsuery.pin.js
script(src="/assets/js/jquery.pin.js")

// access to faye
script(src="/faye/client.js")

// angularium 
script(type='text/javascript', src="/assets/js/angular.js")

// robotrong ng 
script(type='text/javascript', src="/assets/js/ngRobotron.js")
